{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ todo.title }}</title>
    <link rel="stylesheet" href="{% static 'todo_info.css' %}">
</head>
<body>
<div class="detail-container">
    <h1>{{ todo.title }}</h1>
    <hr>
    <p class="status">
        완료 여부 :
        {% if todo.is_completed %}
            ✅️
        {% else %}
            ☐
        {% endif %}
    </p>
    <p class="description">{{ todo.description }}</p>
    <p>📅 시작일 : {{ todo.start_date }}</p>
    <p>⏰ 마감일 : {{ todo.end_date }}</p>
    <hr>
    <p class="meta">생성 : {{ todo.created_at }}</p>
    <p class="meta">수정 : {{ todo.updated_at }}</p>
</div>
</body>
</html>
