{% extends 'base.html' %}
{% load static %}

{% block title %}TODO LIST{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'todo_list.css' %}">
{% endblock %}

{% block content %}
<h1>TODO LIST</h1>
<ul class="todo-list">

    {#  admin 사용자로 조회시 작성자 이름도 나오게  #}
    {% if request.user.is_superuser %}
        {% for todo in object_list %}
            <li><a href="{% url 'cbv_todo_info' todo.id %}">{{ todo.title }} &nbsp; <small style="color:#F8B259">{{ todo.author }}</small></a></li>
        {% empty %}
            <li>등록된 TODO가 없습니다.</li>
        {% endfor %}
    {% else %}
        {% for todo in object_list %}
            <li><a href="{% url 'cbv_todo_info' todo.id %}">{{ todo.title }}</a></li>
        {% empty %}
            <li>등록된 TODO가 없습니다.</li>
        {% endfor %}
    {% endif %}
</ul>

<form method="GET" style="display:inline-block; margin-right: 10px;">
    <input name="q" type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
    <button>검색</button>
</form>

<a href="{% url 'cbv_todo_create' %}" style="vertical-align: middle;">생성</a>

<div>
    {% if page_obj.has_previous %}
        <a href="?page=1{% if request.GET.q %}&q={{ reqeust.GET.q }}{%endif%}"><<</a>
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ reqeust.GET.q }}{%endif%}"><</a>
    {% endif %}

    {% if page_obj.number|add:-2 > 1 %}
        <a href="?page={{ page_obj.number|add:-3}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <span>{{ i }}</span>
        {% elif i > page_obj.number|add:-3 and i < page_obj.number|add:3 %}
            <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.number|add:2 < page_obj.paginator.num_pages %}
        <a href="?page={{ page_obj.number|add:3 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ reqeust.GET.q }}{%endif%}">></a>
        <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ reqeust.GET.q }}{%endif%}">>></a>
    {% endif %}
</div>

{% endblock %}